div
	{
		//border: 1px solid;
	}
	
	.main
	{
		width: 1255px;
		height: 1000px;
		position: absolute;
		//border: 1px solid;
	}
	
	.datos
	{
		margin-top: 10px;
		margin-left: 10px;
		width: 300px;
		font-size: 18px;
		background: white;
	}
	
	form input
	{
		//display: block;
	}
	
	.fondo 
	{
		position:absolute;
		right: 49px;
		top: 20px;
	}
	
	.form
	{
		position:absolute;
		bottom: 2%;
		left: 2%;
		border: 1px solid black;
		padding: 5px;
	}
	
	.conteo
	{
		position:absolute;
		bottom: 2%;
		left: 25%;
		border: 1px solid black;
		padding: 5px;
		width: 100px;
	}
	
	.tituloForm
	{
		margin-top: -15px;
		margin-left: 10px;
		width: 110px;
		font-size: 18px;
		background: white;
	}
	
	.tituloCont
	{
		margin-top: -15px;
		margin-left: 10px;
		width: 58px;
		font-size: 18px;
		background: white;
	}
	
	.Zona1
	{
		position: absolute;
		height:120px;
		width:50px;
		top:150px;
		right:520px;;
	}
	.Zona12
	{
		position: absolute;
		height:60px;
		width:80px;
		top:130px;
		right:440px;;
	}
	
	.Zona2
	{
		position: absolute;
		height:120px;
		width:100px;
		top:190px;
		right:420px;;
	}
	
	.Zona4
	{
		position: absolute;
		height:335px;
		width:85px;
		top:50px;
		right:335px;
	}
	
	.Zona5
	{
		position: absolute;
		height:335px;
		width:85px;
		top:100px;
		right:250px;
	}
	
	.Zona6
	{
		position: absolute;
		height:335px;
		width:85px;
		top:150px;
		right:164px;
	}
	
	.Zona7
	{
		position: absolute;
		height:100px;
		width:164px;
		bottom:0px;
		right:0px;
	}
	
	.estados
	{
		position:absolute;
		border: 1px solid;
		top: 5%;
		left: 2%;
		padding: 5px;
		width: 300px;
	}
	
	.tituloEstado
	{
		margin-top: -15px;
		margin-left: 10px;
		width: 55px;
		font-size: 18px;
		background: white;
	}
	
	.numero
	{
		text-align: right;
	}
	
	.spacer
	{
		width: 20px;
	}
	
	.titulosz
	{
		text-align: center;
		font-weight: bold;
	}
	table
	{
		width:100%;
	}
	
	th
	{
		background: #b5b5b5;
	}
	
	.subtitulosz
	{
		font-weight: bold;
		background: lightGrey;
	}

	.imagen
	{
		position: absolute;
		top:12%;
		right:15%;
		text-align: left;
	}
	

